body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0008;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

#overlay .play {
  padding: 1em;
  color: #000;
  background-color: #777;
  border-color: #777;
  font-weight: bold;
}

#container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
}

#container > div {
  width: 100%;
}

#container p {
  padding: 0 0.5em;
  font-weight: bold;
  text-align: center;
}

#lyrics {
  color: #ffffff;
  background-color: black;
  opacity: 0.8;
}

#media {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

#footer > p {
  margin-left: 10px;
}

#control {
  margin: 10px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#control > button {
  margin-right: 5px;
}

#control > button:last-child {
  margin-right: 0;
}

.TSAS {
  position: absolute;
  color: #fff;
  font-size: 8px;
  font-family: OCR A Std;
}

#loadMes {
  left: 39px;
  top: 39px;
  width: 500px;
}

#songData {
  left: 39px;
  top: 39px;
  width: 500px;
}

#dataSeg {
  left: 86px;
  top: 87px;
  width: 100px;
}

#dataChord {
  left: 77px;
  top: 99px;
  width: 100px;
}

#dataPos {
  left: 105px;
  top: 112px;
  width: 100px;
}

#endMes {
  left: 39px;
  top: 39px;
  width: 500px;
}

body::after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(230, 230, 230, 0.25))), -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.06)), color-stop(rgba(0, 255, 0, 0.02)), to(rgba(0, 0, 255, 0.06)));
  background: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(230, 230, 230, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  content: "";
  -webkit-animation: flicker 0.15s infinite;
          animation: flicker 0.15s infinite;
}

#grid {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#grid::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  content: "";
  -webkit-animation: 3000ms linear 1300ms forwards infinite scan;
          animation: 3000ms linear 1300ms forwards infinite scan;
}

#grid::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  content: "";
  -webkit-animation: 4000ms linear 0ms forwards infinite scan;
          animation: 4000ms linear 0ms forwards infinite scan;
}

@-webkit-keyframes scan {
  from {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
  }
}

@keyframes scan {
  from {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
  }
}

@-webkit-keyframes flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

.canvas3D {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  border: 0;
  max-width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
  margin: 0;
}

:root body {
  background-color: black;
}

:root body #gridRes {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  -ms-grid-rows: (minmax(50px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

:root body #gridRes .grid-itemRes {
  z-index: 1;
  opacity: 0.5;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  cursor: pointer;
}

:root body #gridRes .grid-itemRes:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  outline: 1px solid black;
  display: block;
}

:root body #gridRes .grid-itemRes:hover {
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */